---

kind: Secret
apiVersion: v1
metadata:
  name: garten-secrets
  namespace: {{ namespace }}
type: Opaque
stringData:
  garten-chronicler-url: {{ chronicler_url }}
  garten-chronicler-resource: {{ chronicler_resource }}
  garten-tfl-app-id: {{ tfl_app_id }}
  garten-tfl-app-key: {{ tfl_app_key }}
